<nav>
  <ul class="nav-list clearfix">
    <li><a href="" routerLink="Home">Home</a></li>
    <li><a href="">Browse</a></li>
    <li><a href="">Contact Us</a></li>
    <li>
      <div class="wrap">
        <div class="search">
           <input type="text" id="search" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton" (click)="searchTerm(search.value)">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    </li>
  </ul>
</nav>

