<div class="hanging-nav">
  
 <div class="pagination">
    <div class="left">
        <a href="javascript:void(0)"  (click)="back()"><i class="la la-chevron-left"></i></a>
    </div>
  <div class="right">
      <a href="javascript:void(0)"  (click)="next()"><i class="la la-chevron-right"></i></a>
  </div>
 </div>
    
   


</div>
<div class="choice-btn">
  <a href="javascript:void(0)" class="choice-btn__movie" (click)="showMovie()">Movies</a>
  <a href="javascript:void(0)" class="choice-btn__series" (click)="showSeries()">Series</a>
</div>


<app-loading *ngIf="pageload"></app-loading>
<div *ngIf="!pageload">
  <section class="movie-list" *ngIf="movie">
    <div class="section group">
      <div class="col span_1_of_3" *ngFor="let list of movies,let i = index">
        <div class="movie-poster" *ngIf="i <= 20">
          <div class="movie-poster__detail">
            <h3 class="movie-box__title">
              {{list.original_title}}
            </h3>
            <ul class="movie-box__info">
              <li>
                <p>Release Date:{{list.release_date}}</p>
              </li>
              <li>
                <a class="btn btn-white-view" [routerLink]="[ '/detailView',list.id]">view</a>
              </li>
            </ul>
          </div>
          <div class="movie-poster__image">
            <img src="https://image.tmdb.org/t/p/w400/{{list.poster_path}}" alt="{{list.original_title}}" class="movie-box__img">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="movie-list" *ngIf="series">
    <div class="section group">
      <div class="col span_1_of_3" *ngFor="let list of popSeries,let i = index">
        <div class="movie-poster" *ngIf="i <= 20">
          <div class="movie-poster__detail">
            <h3 class="movie-box__title">
              {{list.original_name}}
            </h3>
            <ul class="movie-box__info">
              <li>
                <p>First Aired on:{{list.first_air_date}}</p>
              </li>
              <li>
                <a class="btn btn-white-view" [routerLink]="[ '/tv-detailed-view',list.id]">view</a>
              </li>
            </ul>
          </div>
          <div class="movie-poster__image">
            <img src="https://image.tmdb.org/t/p/w400/{{list.poster_path}}" alt="{{list.original_title}}" class="movie-box__img">
          </div>
        </div>
      </div>
    </div>


  </section>
</div>
