/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
    iPad 3
    **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .browse,
  .series-detail,
  .detailed-page,
  .search-result,
  .full-cast {
    margin-top: -226%;
  }

  .cast {
    font-size: 1.2em;
    & a {
      color: $primary-color;
    }

    &-full {
      color: $primary-dark !important;
    }
  }

  .choice-btn {
    margin-left: -18%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .breathing-space,
  .made-with-love {
    display: none;
  }

  .browse,
  .series-detail,
  .detailed-page,
  .search-result,
  .full-cast {
    margin-top: 23%;
  }

  .nav-menu {
    height: 7.57%;
}

  .choice-btn {
    margin-bottom: -16%;
  }

  .table {
    &-list {
      &__item {
        font-size: 1.2em;
        & a {
          text-decoration: none;
          color: $primary-color;
          padding: 1.2em 1.4em;

          & i {
            font-size: 2.3em;
          }
        }
      }
    }
  }
  .cast {
    font-size: 1.2em;
    & a {
      color: $primary-color;
    }

    &-full {
      color: $primary-dark !important;
    }
  }
  .tab-menu {
    width: 120%;
    margin-left: -38px;
  }
  .download-section {
    height: 50vh;
  }

  .cast-section {
    margin: 0 1% 0 1%;
    font-size: 1.4em;
  }
  .cast-area {
    margin: 0 1% 0 1%;
    font-size: 1.4em;
  }
  .cast-img {
    width: 81%;
  }

  .series-section {
    margin-left: -38px;
    width: 130%;
  }

  .tags li:not(:last-child) {
    margin-right: 6px;
  }
  .mv-detail__rates {
    height: 20vh;
  }

  .rated-data {
    padding: 4%;
    font-size: 1.4em;
  }
  .lang-list li {
    margin: 2% 2% 2% 0 !important;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .breathing-space,
  .made-with-love {
    display: none;
  }

  iframe {
    width: 580px;
    height: 300px;
    margin-left: -20px;
  }

  .table {
    &-list {
      &__item {
        font-size: 1.2em;
        & a {
          text-decoration: none;
          color: $primary-color;
          padding: 1.2em 1.4em;

          & i {
            font-size: 2.3em;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .detailed-page,
  .series-detail {
    margin-top: 15%;
  }

  .syn-word {
    font-size: 1.2em;
    text-align: justify;
  }

  .lang-list li {
    margin: 0 2% 2% 0 !important;
  }
  .rated-data li {
    margin: 2% 0 2% 0;
  }
  iframe {
    width: 300px;
    height: auto;
    margin-left: -20px;
  }

  .breathing-space,
  .made-with-love {
    display: none;
  }

  .table {
    &-list {
      &__item {
        font-size: 1.2em;
        & a {
          text-decoration: none;
          color: $primary-color;
          padding: 1.2em 1.4em;

          & i {
            font-size: 2.3em;
          }
        }
      }
    }
  }

  .tab-menu {
    width: 120%;
    margin-left: -38px;
  }
  .download-section {
    height: 50vh;
  }

  .cast-section {
    margin: 0 1% 0 1%;
    font-size: 1.4em;
  }
  .cast-area {
    margin: 0 1% 0 1%;
    font-size: 1.4em;
  }
  .cast-img {
    width: 81%;
  }

  .series-section {
    margin-left: -38px;
    width: 130%;
  }
}
