/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hidden-value {
    display: none;
  }
  .search-tablet {
    display: none;
  }
  .show-mobile-480-px {
    display: block;
    background-color: $primary-theme-color-lt;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    z-index: 3000;
    position: fixed;
    margin: 85% 0 0 85%;

    & i {
      font-size: 30px;
      margin: 10%;
    }
  }

  input.search-mobile__box {
    width: 55%;
    padding: 8px 0;
    margin: 110% 0 0 62%;
    z-index: 3000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    position: fixed;
    display: block;
    transform: rotateZ(-90deg);
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-area {
    display: none;
  }
  .search-tablet {
    margin: 1% 30% 0 30%;
    position: relative;
    display: block;
    &__box {
      padding: 7px 48px;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
    }

    &__icon {
      position: absolute;
      color: $primary-dark;
      @include font-size(0.7);
    }
  }

  .show-mobile-480-px {
    display: none;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  input.search-mobile__box {
    display: none;
  }
  .search-area {
    display: none;
  }
  .search-tablet{
    margin: 1% 30% 0 30%;
    position: relative;
    display: block;
    &__box {
      width: 100%;
      padding: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
    }

    &__icon {
      position: absolute;
      color: $primary-dark;
      @include font-size(0.7);
    }
  }

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  input.search-mobile__box {
    display: none;
  }
  .search-area {
    display: none;
  }

  .search-mobile__375px{
    width: 55%;
    padding: 8px 0;
    margin: 193% 0px 0px 88%;
    z-index: 3000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    position: fixed;
    display: block;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .search-area {
    display: none;
  }
  .search-tablet {
    margin: 1% 30% 0 30%;
    position: relative;
    display: block;
    &__box {
      width: 100%;
      padding: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
    }

    &__icon {
      position: absolute;
      color: $primary-dark;
      @include font-size(0.7);
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .show-mobile-480-px {
    margin: 150% 0 0 85%;
  }

  input.search-mobile__box {
    width: 55%;
    padding: 8px 0;
    margin: 176% 0px 0px 63%;
    z-index: 3000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    position: fixed;
    display: block;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
}
