<div class="detailed-page">
  <div class="section group from-top-4">
    <div class="col span_1_of_3">
      <div class="poster-img">
        <img src="https://image.tmdb.org/t/p/w400/{{movieDetail.poster_path}}" alt="" class="poster-img__image">
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="mv-detail">
        <h2 class="mv-detail__title">
          {{movieDetail.original_title}}
        </h2>
        <div class="mv-detail__syn">
          <h2>SYNOPSIS</h2>
          <p class="syn-word">{{movieDetail.overview}}</p>
        </div>
        <div class="mv-detail__tags">
          <ul class="tags">
            <li *ngFor="let tags of genre">
              <i class="icon-Tag"></i>{{tags.name}}
            </li>
          </ul>
        </div>
  
        <div class="mv-detail__rates">
          <ul class="rated-data">
            <li><i class="icon-Video"></i>Status: {{movieDetail.status}}</li>
            <li><i class="icon-Clock"></i>Runtime: {{movieDetail.runtime}}min</li>
            <li><i class="icon-Users"></i> Language:
              <ul class="lang-list">
                <li *ngFor="let lang of language"> {{lang.name}}</li>
              </ul>
  
  
            </li>
            <li><i class="icon-BarGraph"></i>Popularity:{{movieDetail.popularity}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="movie-vid-n-rev">
      <app-review-n-preview [id]="id" [name]="name"></app-review-n-preview>
    </section>
  
    <app-download-movies [id]="id"></app-download-movies>
  
  
  <section class="cast-section">
        <app-preview-cast></app-preview-cast>
  </section>
  
  
</div>
