<div class="cast">
  <h2>Cast</h2>
  <div class="section group">
    <div *ngFor="let cast of cast | slice:0:6; let i = index">

        <div class="col span_1_of_3">
          <div class="cast-thumbnail">
            <ng-template *ngIf="cast.profile_path!= null;then showPoster;else hidePoster"></ng-template>
            <ng-template #showPoster>
              <img class="cast-img" src="https://image.tmdb.org/t/p/w400/{{cast.profile_path}}" alt="">
            </ng-template>
            <ng-template #hidePoster>
              <div class="search-result__thumbnail">
                <h4>No poster found</h4>
              </div>
            </ng-template>
          </div>
          <div class="cast-name">
            <a class="cast-detail" [routerLink]="['/star-details',cast.id]">{{cast.name}}</a><br>
            as <br>{{cast.character}}
          </div>

        </div>
   
    </div>



  </div>


  <a class="btn btn-white-view cast-full" [routerLink]="['/full-cast']"   [queryParams]="{'id': id,'series':true}">
    See fullcast
    <i class="la la-angle-double-right"></i></a>
</div>