<section class="download-section">
    <mat-tab-group class="tab-menu">
    <mat-tab label="YTS HD">
      <table class="table-list">
        <tr *ngFor="let quality of Downlables">
          <td class="table-list__item">{{quality.quality}}</td>
          <td class="table-list__item">{{quality.size}}</td>
          <td class="table-list__item"><a href="{{quality.url}}">
              <i class="la la-link"></i>
            </a></td>
          <td class="table-list__item"><a [href]="gMagnet | safe: 'resourceUrl'">
              <i class="la la-magnet"></i>
            </a></td>
        </tr>
      </table>
      
    </mat-tab>
    <mat-tab label="1337x"> 
     
    </mat-tab>
  </mat-tab-group>
</section>