.nav-list{
    list-style: none;
   background-color: $primary-theme-color-darker;
   width: 100%;
    & li{
        float: left;
        padding: 12px;

        & a,
        & a:link,
        & a:visited{
            text-decoration: none;
            text-transform: uppercase;
            padding: 12px 14px;
            font-size: 20px;
            color: $primary-color;
            
        }

        & a:hover{
            background-color: rgba($color: $primary-color, $alpha: .4);
            border-bottom: 2px solid $primary-color;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap{
      width: 120%;
  }