.nav{
    &-menu{
        margin: 0;
        width: 100%;
        z-index: 2000;
        background: rgba($color: $primary-dark,$alpha: .4);

    }
   
    &-list{
        list-style: none;
        font-size: 20px;
        text-transform: uppercase;
    }

    &-item{
        float: left;
        padding: 14px 0;

        & i{
            margin-right: 4px;
            font-size: 24px;
        }
        
    }

    &-link:visited,
    &-link:link{
        color: $primary-color;
        text-decoration: none;
        padding: 14px 40px;
    }

    &-link:hover{
        background-color: rgba($color: $primary-color,$alpha: .6);
        border-bottom: 2px solid $primary-color;
    }


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}