
div.pagination {
  position: relative;
}

div.right {
  position: absolute;
  margin-left: 86%;
  width: 8%;

  transition: all .8s;

  & a,
  a:link,
  a:visited {
    text-decoration: none;
    color: $primary-color;
    padding: 12rem 1.4rem;
    background-color: $primary-theme-color-darker;
    border-radius: .8rem;

    & .la {
      font-size: 3.2em;
      margin-left: 4%;
    }
  }

}

div.left {
  position: absolute;
  width: 8%;
  margin-left: 1%;
  transition: all .8s;

  & a,
  a:link,
  a:visited {
    text-decoration: none;
    color: $primary-color;
    padding: 12rem 1.4rem;
    background-color: $primary-theme-color-darker;
    border-radius: .8rem;

    & .la {
      font-size: 3.2em;
      margin-left: 4%;
    }
  }
}

.hanging-nav {
  position: fixed;
  width: 100%;
  z-index: 3000;
  top: 60%;
}
