.search-area{
   margin-left: 2%;
   position: relative;
  &__box{
     padding: 8px 34px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
     position: absolute;
  }

  &__icon{
     position: absolute;
     color: $primary-dark;
  }
}


.search-tablet{
   display: none;
}

.show-mobile-480-px{
   display: none;  
}
.search-mobile__box{
   display:none;
}