.main-head {

  &_nav {
    & ul {
      list-style: none;
      float: right;
      color: $primary-color;

      & li {
        text-transform: uppercase;
        display: inline-block;
        padding: 1.4rem 1.2rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        font-size: 1.4rem;

        &:hover {
          border-bottom: 2px solid $primary-color;
          cursor: pointer;
        }
      }
    }
  }

  &-logo__text {
    color: $primary-color;
   }
}

.big-text {
  text-transform: uppercase;
  font-size: 2.8rem;
}

.small-text {
  text-transform: capitalize;
  font-size: 2.2rem;
}
