// THEME COLORS

$main-color: #22313f;

//FONT COLOR
$primary-color: #fff;
$primary-dark: #000;
$primary-color: #fff;
$primary-theme-color: #006699;
$primary-theme-color-darker: #002233;
$primary-theme-color-lt: #005580;
$primary-dark: #000;
$light-grey: #d1e0e0;
$dark-grey: rgba(209, 224, 224, 0.31);
$twitter: #4ddbff;

$rated-color:#0a0f13;
$download-section:#10161c;
$side-nav: #0a0f13;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// fonts

$font__serif: 'PT Serif',Georgia,Cambria,"Times New Roman",Times,serif;
$font__sans: 'Source Sans Pro',"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;


//media-queries
$tablets: 768px;
