<nav>
  <div [className]=" sideNav ? 'nav-sidenav' : 'hide'">
    <div class="nav-sidenav__profile" [style.background-image]="'url('+defaultCover+')'">
      <img src={{fallbackImage}} alt="" class="nav-sidenav__profile-pic">
      <div class="nav-sidenav__profile-detail">
        <div class="profile__username">Demo user</div>
      </div>
    </div>
    <ul class='nav-sidenav__menu'>
      <li class="nav-sidenav__menu-item" (click)="showNav()">
        <a [routerLink]="['/home']">home</a>
      </li>
      <li class="nav-sidenav__menu-item" (click)="showNav()">
        <a [routerLink]="[ '/browse']">browse</a>
      </li>
      <li class="nav-sidenav__menu-item" (click)="showNav()">
        <a [routerLink]="[ '/search']">search</a>
      </li>
      <li class="nav-sidenav__menu-item" (click)="showNav()">
        <a [routerLink]="[ '/about']" (click)="showNav()">aboutus</a>
      </li>
      <li class="nav-sidenav__menu-item" (click)="showNav()">
        <a [routerLink]="[ '/contact']">contact</a>
      </li>
    </ul>
  </div>
  <div class="nav">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a [routerLink]="['/home']">home</a>
      </li>
      <li class="nav-menu__item">
        <a [routerLink]="[ '/browse']">browse</a>
      </li>
      <li class="nav-menu__item">
        <a [routerLink]="[ '/search']">search</a>
      </li>
      <li class="nav-menu__item">
        <a [routerLink]="[ '/about']">aboutus</a>
      </li>
      <li class="nav-menu__item">
        <a [routerLink]="[ '/contact']">contact</a>
      </li>
    </ul>
    <div class="nav-float">
      <div class="nav-float__icon">
        <button (click)="showNav()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
