
<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Cast"> 
        <div class="cast">
            <h2>Cast</h2>
            <div class="section group clearfix">
              <div *ngFor="let cast of actorPicture,let i = index">
             
                  <div class="col span_1_of_3">
                    <div class="cast-thumbnail">
                      <ng-template *ngIf="cast.profile_path!= null;then showPoster;else hidePoster"></ng-template>
                      <ng-template #showPoster>
                        <img class="cast-img" src="https://image.tmdb.org/t/p/w400/{{cast.profile_path}}" alt="">
                      </ng-template>
                      <ng-template #hidePoster>
                        <div class="search-result__thumbnail">
                          <h4>No poster found</h4>
                        </div>
                      </ng-template>
                    </div>
                    <div class="cast-name">
                      <a class="cast-details" [routerLink]="['/star-details',cast.id]">{{cast.name}}</a><br>
                      as <br>{{cast.character}}
                    </div>
          
                  </div>
                </div>
              </div>
          
          
          
            </div>
    </mat-tab>
    <mat-tab label="Crew" *ngIf="crewIsEmpty"> 
        <div class="cast" style="background-color: transparent;">
            <h2>Crew</h2>
            <div class="section group clearfix">
              <div *ngFor="let cast of crewPicture,let i = index">
               
                  <div class="col span_1_of_3">
                    <div class="cast-thumbnail">
                      <ng-template *ngIf="cast.profile_path!= null;then showPoster;else hidePoster"></ng-template>
                      <ng-template #showPoster>
                        <img class="cast-img" src="https://image.tmdb.org/t/p/w400/{{cast.profile_path}}" alt="">
                      </ng-template>
                      <ng-template #hidePoster>
                        <div class="search-result__thumbnail">
                          <h4>No poster found</h4>
                        </div>
                      </ng-template>
                    </div>
                    <div class="cast-name">
                      <a class="cast-details" [routerLink]="['/star-details',cast.id]">{{cast.name}}</a><br>
                      <br>{{cast.job}}
                    </div>
          
                  </div>
                </div>
              </div>
          
          
          
            </div>  
    </mat-tab>
</mat-tab-group>
